<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Nouvelles Commandes
            <button mat-icon-button class="more-button">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-commandes-table fromC="dash"></app-commandes-table>
        </mat-card-content>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
